:root {
  --main-font: "Roboto", sans-serif;
  --title-text-color: #212121;
  --paragraph-text-color: #757575;
  --secondary-text-color: #ffffff;
  --accent-color: #2196f3;
  --light-text-color: rgba(255, 255, 255, 0.6);
  --primary-white-color: #ffffff;
  --secondary-greey-color: #f5f4fa;
  --icon-color: #afb1b8;
}

body {
  background-color: var(--primary-white-color);
  color: var(--title-text-color);

  font-size: 14px;
  font-family: var(--main-font);
  letter-spacing: 0.03em;
}

img {
  display: block;
  min-width: 100%;
  height: auto;
}

.list {
  padding: 0;
  margin: 0;

  list-style: none;
}

.link {
  text-decoration: none;
}

.conteiner {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

/* ====== HEADER ====== */

.main-navigation {
  display: flex;
  align-items: center;
}

/*Logo*/
.logo {
  margin-right: 86px;

  color: #000000;

  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
}

.logo:hover,
.logo:focus {
  color: var(--accent-color);
}

.accent {
  color: var(--accent-color);
}

/* Navigation */

.navigation {
  display: flex;
  align-items: center;
}

.navigation-link {
  color: var(--title-text-color);

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.navigation-list {
  display: flex;
}

.navigation-item:not(:last-child) {
  margin-right: 50px;
}

.navigation-link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--title-text-color);

  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.navigation-list .current {
  color: var(--accent-color);
}

.navigation-link:hover,
.navigation-link:focus {
  color: var(--accent-color);
}

/* Address */

.address {
  display: flex;

  margin-left: auto;
}

.icon-address {
  margin-right: 10px;

  fill: currentColor;
}

.address .link {
  display: inline-flex;
  align-items: center;

  padding: 32px 0px;

  color: var(--paragraph-text-color);

  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.address .link:not(:last-child) {
  margin-right: 30px;
}

.address .link:hover,
.address .link:focus {
  color: var(--accent-color);
  fill: inherit;
}

/* ====== FOOTER ====== */

.footer {
  padding-top: 60px;
  padding-bottom: 60px;

  background-color: #2f303a;
}

.footer-nav {
  display: flex;
  align-items: baseline;
}

/* Footer-logo */

.address-footer {
  margin-right: 69px;
}

.logo-footer {
  display: inline-block;

  color: var(--secondary-text-color);

  margin-bottom: 20px;
  margin-right: 0px;
}

/* Footer-nav */
.footer-nav-item {
  font-weight: 400;
  line-height: 1.71;
}

.footer-nav-item:not(last-child) {
  margin-bottom: 9px;
}

.map {
  color: var(--secondary-text-color);
}

.map:hover,
.map:focus {
  color: var(--accent-color);
}

.contact {
  color: var(--light-text-color);
}

.contact:hover,
.contact:focus {
  color: var(--accent-color);
}

/* Socials-footer */
.title-footer {
  display: block;
  margin-bottom: 20px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--secondary-text-color);
}

.joil-item .link {
  background-color: rgba(255, 255, 255, 0.1);
}

.icon-socials-footer {
  width: 20px;
  height: 20px;
  fill: var(--primary-white-color);
}

.joil-item:not(:last-child) {
  margin-right: 10px;
}
